{% extends 'stores/main.html' %}
{% load static %}
{% block content %}
    <div class="col-md-12">

        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href=""><h5 style="color: #b3d7ff">ORDERS</h5></a>
            <hr>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Payment</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.item }}</td>
                        <td>{{ order.order.date_ordered }}</td>
                        <td>{{ order.order.complete }}</td>
                        <td>{{ order.order_type }}</td>
                        <td>{{ order.order.status }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
{% endblock %}